*{
    font-family:sans-serif;
}


.home{
   position: relative;
   contain: "";
   top:150px;
   left:20%;
   width:800px;
   height: 300px;
   display: flex;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.home1{
    width: 20%;}
.home2{
    margin-left: 30%;
     /* flex-column: 2/3 */
}
.gps{
    position: relative;
    content: "";
    top: 30px;
    left :-80px;
}

.btn_bt{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
}
.btn{
    border-radius: 15px;
}
.title span {
    font-size: 20px;
}
.title i { 
    color : green;
}
/* bt_1  */
.item{
    display :flex;
}
/* bt_1  */
/* bt_2  */
.btn-bt-2{
    margin: 22px;
}

/* bt_2  */